DPSS_WebServices/src/ServerInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://Servers.java.main/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Servers.java.main/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Servers.java.main/" schemaLocation="ServerInterface_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createPlayerAccount">
    <part name="parameters" element="tns:createPlayerAccount"/>
  </message>
  <message name="createPlayerAccountResponse">
    <part name="parameters" element="tns:createPlayerAccountResponse"/>
  </message>
  <message name="playerSignIn">
    <part name="parameters" element="tns:playerSignIn"/>
  </message>
  <message name="playerSignInResponse">
    <part name="parameters" element="tns:playerSignInResponse"/>
  </message>
  <message name="playerSignOut">
    <part name="parameters" element="tns:playerSignOut"/>
  </message>
  <message name="playerSignOutResponse">
    <part name="parameters" element="tns:playerSignOutResponse"/>
  </message>
  <message name="getPlayerStatus">
    <part name="parameters" element="tns:getPlayerStatus"/>
  </message>
  <message name="getPlayerStatusResponse">
    <part name="parameters" element="tns:getPlayerStatusResponse"/>
  </message>
  <message name="transferAccount">
    <part name="parameters" element="tns:transferAccount"/>
  </message>
  <message name="transferAccountResponse">
    <part name="parameters" element="tns:transferAccountResponse"/>
  </message>
  <message name="suspendAccount">
    <part name="parameters" element="tns:suspendAccount"/>
  </message>
  <message name="suspendAccountResponse">
    <part name="parameters" element="tns:suspendAccountResponse"/>
  </message>
  <portType name="ServerInterface">
    <operation name="createPlayerAccount">
      <input ns1:Action="http://Servers.java.main/ServerInterface/createPlayerAccountRequest" message="tns:createPlayerAccount" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://Servers.java.main/ServerInterface/createPlayerAccountResponse" message="tns:createPlayerAccountResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="playerSignIn">
      <input ns3:Action="http://Servers.java.main/ServerInterface/playerSignInRequest" message="tns:playerSignIn" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://Servers.java.main/ServerInterface/playerSignInResponse" message="tns:playerSignInResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="playerSignOut">
      <input ns5:Action="http://Servers.java.main/ServerInterface/playerSignOutRequest" message="tns:playerSignOut" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://Servers.java.main/ServerInterface/playerSignOutResponse" message="tns:playerSignOutResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPlayerStatus">
      <input ns7:Action="http://Servers.java.main/ServerInterface/getPlayerStatusRequest" message="tns:getPlayerStatus" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://Servers.java.main/ServerInterface/getPlayerStatusResponse" message="tns:getPlayerStatusResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="transferAccount">
      <input ns9:Action="http://Servers.java.main/ServerInterface/transferAccountRequest" message="tns:transferAccount" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://Servers.java.main/ServerInterface/transferAccountResponse" message="tns:transferAccountResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="suspendAccount">
      <input ns11:Action="http://Servers.java.main/ServerInterface/suspendAccountRequest" message="tns:suspendAccount" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://Servers.java.main/ServerInterface/suspendAccountResponse" message="tns:suspendAccountResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

